$color-initial: #fff !default;
$color-primary: #E66482 !default;
$color-secondary: #AF415B !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;

@import "./config";
@import "~milligram/src/Base";
@import "~milligram/src/Button";
@import "~milligram/src/Form";
@import "~milligram/src/Link";
@import "~milligram/src/Grid";
@import "~milligram/src/Typography";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .3s;
}

body {
  padding: $grid-gutter;
  font-family: 'Microsoft YaHei UI', 'Microsoft YaHei','Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.button,
button,
dd,
dt,
li,
fieldset, input, select, textarea {
  margin-bottom: $grid-gutter;
}

.button,
button {
  padding-left: 0;
  padding-right: 0;

  &.button-outline {
    &:hover {
      background-color: rgba($color-primary, 0.1);
      border-color: $color-secondary;
    }
  }
}

.widefat {
  width: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: $grid-gutter;
}

@media (min-width: 40rem) {
  .row {
    flex-direction: row;
    margin-left: -$grid-gutter / 2;
    width: calc(100% + #{$grid-gutter});

    .column {
      margin-bottom: inherit;
      padding: 0 ($grid-gutter / 2);
    }
  }
}

.button {
  .tx {
    display: none;

    @media (min-width: 40rem) {
      display: inline;
    }
  }
}

.btn-group {
  display: flex;

  & > * {
    flex-grow: 1;
    width: 100%;
    margin-right: $grid-gutter;

    &:last-child {
      margin-right: 0;
    }
  }
}

textarea {
  min-height: auto;
}

::selection {
  background-color: $color-primary;
  color: #fff;
}

select {
  cursor: pointer;

  &:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#{$color-primary}" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  }
}

@import "./scrollbar";
@import "./container";
@import "./footer";
