@import './config';

$img-size: 122px;

.list-container {
  overflow-y: auto;
  padding-bottom: 3rem;

  .item {
    display: flex;
    align-items: flex-start;

    .btn-reupload {
      height: calc(100% - $grid-gutter);
    }

    .preview {
      position: relative;
      width: $img-size - 1px;
      flex-grow: 0;
      height: $img-size - 1px;
      padding-right: $grid-gutter;
      padding-bottom: $grid-gutter;
      text-align: center;

      .fa {
        line-height: $img-size - 1px;
      }

      a {
        display: block;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: .4rem;
      }
    }

    .body {
      flex-grow: 1;
      width: auto;
    }

    .tools {
      display: flex;

      & > * {
        width: 100%;
        margin-right: $grid-gutter;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
