.uploader {
  position: relative;
  overflow: hidden;
  display: block !important;

  input {
    right: -10px;
    bottom: -10px;
    cursor: pointer;
    position: absolute;
    font-size: 20rem;
    margin-bottom: 0;
    opacity: 0;
  }
}
