$key: '.status-tip';

#{$key} {
  padding-left: 2.5rem;
  position: relative;
  min-height: 2.5rem;

  #{$key}-icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  &#{$key}-success {
    color: green;
  }

  &#{$key}-error {
    color: #DD0000;
  }

  &#{$key}-info {
    color: #0098DA;
  }
}
